/****** Boutons ******/

@mixin boutonEnvoyer {
    width: 120px;
    height: 40px;
    border-radius:5px;
    background: linear-gradient(35deg,  #FF7209,#FF3004, #FF7209, #FF3004);
    color: $blanc;
    border: none;
    &:hover {
        scale: 1.01;

    }
    &:focus,
    &:focus-visible{
        border: $orange solid 2px;
        border-color: $orange !important;
        color: white;
        width: 150px;
        height: 57px;
    }
}


/********** Utilitaires de base **********/

/** Box sizing **/
@mixin border-box-sizing {
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
}

/* Clearfix */
@mixin clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

/********* Accessibilité *********/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.visuallyhidden,
.screen-reader-only {
    @include visuallyhidden;
}


/******** Typographie *********/

// Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
@function calculateRem($size) {
    $remSize: calc($size / 10);
    @return #{$remSize}rem;
}
