/**
* @author J-F Duval

/** Palette de couleurs **/

$hyperlien: #0075E1;
$bleuEntete: #0075E1;
$orange: #FF570A;
$bleuTypo: #120D31;
$blanc: #ffffff;
$bleuH2: #002D92;
$bleuBande: #03045e;

body .bleuLien{
  color: #0075E1;
}