/**
* @author J-F Duval

/**** Typographie responsive ****/
/** Polices de caractères **/

@font-face {
  font-family: 'Quantify';
  src: url('../../fontes/quantify/Quantify.ttf') format('truetype');
  /* Add additional src properties for different font file formats if available */
}
body h2{
  font-family: 'Quantify', sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

@media(max-width: 600px){
  nav{
    font-size: 20px;
  }
}
/*h1,
.h1 {
  font-family: 'Font Name', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin: 0;

  @media(min-width: 601px) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-family: $fontePrincipale;
  font-size: 20px;
  font-weight: 600;
  //color:$bleuH2;
  //  text-transform: uppercase;
  @media(min-width: 601px) {
    font-size: 22px;
  }
}

h3,
.h3 {
  font-family: $fontePrincipale;
  font-size: 20px;
  font-weight: 400;

  @media(min-width: 601px) {
    font-size: 20px;
  }
}
body .typoLien{
  font-size: 16px;
  font-family: $fontePrincipale;
  font-weight: 700;
  //color: $orange;
  &:hover{
    transform: scale(1.05);
  }
}

.navTypo {
  font-family: $fontePrincipale;
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
}
@media(min-width: 601px) {
  .navTypo {
    font-family: $fontePrincipale;
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
  }
}
@media(min-width: 854px) {
  .navTypo {
    font-family: $fontePrincipale;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
  }
}
.button {
  font-family: $fontePrincipale;
  font-size: 18px;
  font-weight: 500;

  @media(min-width: 601px) {
    font-size: 18px;
  }
}
label,
.li,
p {
  font-family: $fontePrincipale;
  color: #2F2E32;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;

  @media(min-width: 601px) {
    line-height: 1.5;
  }

  body div a {
    font-family: $fontePrincipale;
    font-size: 16px;
    //color: $orange;
    line-height: 1.375;
    font-weight: 700;
    text-decoration: none;
    a:visited{
      text-decoration: none!important;
    }
    &:focus{
      outline: none;
     // border: 2px solid $orange;
      outline-offset: -5px;
      //color: $orange;
      border-radius: 5px;
    }

    @media(min-width: 601px) {
      line-height: 1.5;
    }
  }*/
//}

